<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Odmowa Dostępu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-danger">403</h1>
        <p class="fs-3"> <span class="text-danger">Brak uprawnień.</span></p>
        <p class="lead">
            Nie masz odpowiednich uprawnień, aby przeglądać tę stronę. Ta strefa jest tylko dla administratorów.
        </p>
        <a th:href="@{/cars}" class="btn btn-primary mt-3">Wróć do listy pojazdów</a>
    </div>
</body>
</html>